absl-py==1.0.0
astunparse==1.6.3
async-generator @ file:///build/async_generator-1.10/dist/async_generator-1.10-py3-none-any.whl
async-timeout @ file:///build/async-timeout-4.0.2/dist/async_timeout-4.0.2-py3-none-any.whl
attrs @ file:///build/attrs-21.4.0/dist/attrs-21.4.0-py2.py3-none-any.whl
bcrypt @ file:///build/bcrypt-3.2.0/dist/bcrypt-3.2.0-cp39-cp39-linux_x86_64.whl
Brotli @ file:///build/source/dist/Brotli-1.0.9-cp39-cp39-linux_x86_64.whl
brotlicffi @ file:///build/source/dist/brotlicffi-1.0.9.2-cp39-abi3-linux_x86_64.whl
cached-property @ file:///build/cached-property-1.5.2/dist/cached_property-1.5.2-py2.py3-none-any.whl
cachetools==4.2.4
certifi @ file:///build/source/dist/certifi-2021.10.8-py2.py3-none-any.whl
cffi @ file:///build/cffi-1.15.0/dist/cffi-1.15.0-cp39-cp39-linux_x86_64.whl
chardet @ file:///build/chardet-4.0.0/dist/chardet-4.0.0-py2.py3-none-any.whl
charset-normalizer @ file:///build/source/dist/charset_normalizer-2.0.10-py3-none-any.whl
click @ file:///build/click-8.0.3/dist/click-8.0.3-py3-none-any.whl
colorama @ file:///build/colorama-0.4.4/dist/colorama-0.4.4-py2.py3-none-any.whl
cryptography @ file:///build/cryptography-36.0.0/dist/cryptography-36.0.0-cp39-cp39-linux_x86_64.whl
curio @ file:///build/curio-1.5/dist/curio-1.5-py3-none-any.whl
cycler==0.11.0
distro @ file:///build/distro-1.6.0/dist/distro-1.6.0-py2.py3-none-any.whl
docker @ file:///build/docker-5.0.3/dist/docker-5.0.3-py2.py3-none-any.whl
docker-compose @ file:///build/docker-compose-1.29.2/dist/docker_compose-1.29.2-py2.py3-none-any.whl
dockerpty @ file:///build/dockerpty-0.4.1/dist/dockerpty-0.4.1-py3-none-any.whl
docopt @ file:///build/docopt-0.6.2/dist/docopt-0.6.2-py2.py3-none-any.whl
Flask==2.0.2
flatbuffers==2.0
fonttools==4.28.3
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
gunicorn==20.1.0
gviz-api==1.10.0
h5py==3.6.0
idna @ file:///build/idna-3.3/dist/idna-3.3-py3-none-any.whl
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema @ file:///build/jsonschema-4.4.0/dist/jsonschema-4.4.0-py3-none-any.whl
jsonslicer==0.1.7
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
mtgml-native-generators==0.0.2
numpy==1.21.4
oauthlib==3.1.1
opt-einsum==3.3.0
outcome @ file:///build/outcome-1.1.0/dist/outcome-1.1.0-py2.py3-none-any.whl
packaging @ file:///build/packaging-21.3/dist/packaging-21.3-py3-none-any.whl
paramiko @ file:///build/paramiko-2.9.2/dist/paramiko-2.9.2-py2.py3-none-any.whl
Pillow==9.0.0
protobuf==3.19.1
pyasn1 @ file:///build/pyasn1-0.4.8/dist/pyasn1-0.4.8-py2.py3-none-any.whl
pyasn1-modules==0.2.8
pybind11==2.9.0
pycparser @ file:///build/pycparser-2.21/dist/pycparser-2.21-py2.py3-none-any.whl
PyNaCl @ file:///build/PyNaCl-1.5.0/dist/PyNaCl-1.5.0-cp39-cp39-linux_x86_64.whl
pyparsing @ file:///build/source/dist/pyparsing-3.0.6-py3-none-any.whl
pyrsistent @ file:///build/pyrsistent-0.18.0/dist/pyrsistent-0.18.0-cp39-cp39-linux_x86_64.whl
PySocks @ file:///build/PySocks-1.7.1/dist/PySocks-1.7.1-py3-none-any.whl
python-dateutil==2.8.2
python-dotenv @ file:///build/python-dotenv-0.19.2/dist/python_dotenv-0.19.2-py2.py3-none-any.whl
python-socks @ file:///build/source/dist/python_socks-2.0.3-py3-none-any.whl
PyYAML @ file:///build/source/dist/PyYAML-6.0-cp39-cp39-linux_x86_64.whl
requests @ file:///build/requests-2.27.1/dist/requests-2.27.1-py2.py3-none-any.whl
requests-oauthlib==1.3.0
rsa==4.8
scikit-build==0.12.0
setuptools-scm==6.3.2
six @ file:///build/six-1.16.0/dist/six-1.16.0-py2.py3-none-any.whl
sniffio @ file:///build/sniffio-1.2.0/dist/sniffio-1.2.0-py3-none-any.whl
sortedcontainers @ file:///build/sortedcontainers-2.4.0/dist/sortedcontainers-2.4.0-py3-none-any.whl
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.5.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
texttable @ file:///build/texttable-1.6.4/dist/texttable-1.6.4-py2.py3-none-any.whl
tf-estimator-nightly==2.8.0.dev2021122109
tomli==1.2.2
tqdm==4.62.3
trio @ file:///build/trio-0.19.0/dist/trio-0.19.0-py3-none-any.whl
typeguard==2.13.2
typing_extensions @ file:///build/typing_extensions-4.0.1/dist/typing_extensions-4.0.1-py3-none-any.whl
urllib3 @ file:///build/urllib3-1.26.8/dist/urllib3-1.26.8-py2.py3-none-any.whl
websocket-client @ file:///build/websocket-client-1.2.3/dist/websocket_client-1.2.3-py3-none-any.whl
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
zstandard==0.16.0
